 form{
    /* background-image: url("https://tse4.mm.bing.net/th/id/OIP.FIpRF_fkUsTofOjmszj5uQHaD4?pid=Api&P=0&h=180"); */
background-color: #292529;
}

.container {
  width: 575px;
  height: 825px;

  background-color: #eeeeec;
  padding-left: 30px;
}
#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  color: black;
}

#weight-guide {
  margin-left: 75px;
  margin-top: 25px;
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
  color: rgb(103, 100, 100);
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  background-color: gray;
  padding: 1px 30px;
  border-radius: 8px;
  color: #212121;
  text-decoration: none;
  border: 2px solid #212121;

  font-size: 25px;
}

h1 {
  padding-left: 15px;
  padding-top: 25px;
  
}

p{
    color: white;
}

h3{
    color: whitesmoke;
}
